
 @import url('https://fonts.cdnfonts.com/css/souvenir');
 @import url('https://fonts.cdnfonts.com/css/marvin');
            
*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Souvenir', sans-serif;
}

#start{
    background: rgba(248, 224, 1, 1.0);
    background: -webkit-radial-gradient(center, rgba(248, 224, 1, 1.0), rgba(228, 241, 236, 1.0));
    background: -moz-radial-gradient(center, rgba(248, 224, 1, 1.0), rgba(228, 241, 236, 1.0));
    background: radial-gradient(ellipse at center, rgba(248, 224, 1, 1.0), rgba(228, 241, 236, 1.0));  
    height: 100vh;
}


#start .content header {
    background-color: #000000;
    position: fixed;
    width: 100%;
    z-index: 100;
    top:0;
}

#start .content header .header-content{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#start .content header .header-content h1{
    text-align: center;
    color:#fff;
    font-family: 'Marvin', sans-serif;
}

#start .content header .header-content nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
#start .content header .header-content nav ul li a{
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
    font-family: 'Marvin', sans-serif;
}
#start .content header .header-content nav ul li a:hover{
    color:rgba(248, 224, 1, 1.0);
}

#start .content header .header-content .redes a{
    text-decoration: none;
            color: #fff;
            display: inline-block;
            margin-left: 10px;
            transition: .5s;
}
#start .content header .header-content .redes a:hover{
    color: #FFD101;
}

#start .content .presentation{
    font-size: 18px ;
    max-width: 100;
    height: 100vh;
    margin: auto;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

#start .content .presentation .welcome{
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Marvin', sans-serif;
}

#start .content .presentation .welcome h2{
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#start .content .presentation .description{
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

#start .content .presentation a{
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 15px 20px;
    border: 2px solid #000000;
    border-radius: 50px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
}

#start .content .presentation a:hover{
    background-color:rgba(248, 224, 1, 1.0);
    border: 2px solid #ffff;
}

/* aboutme */

#aboutme {
    max-width: 1100px;
    margin: auto;
    color: #000000;
    display: flex;
    padding: 100px 15px;
}

#aboutme .photo-container {
    max-width: 400px;
    margin-right: 80px;
}

#aboutme .photo-container img{
    padding: 20px;
    width: 100%;
    border: 1px solid #FFF904;
    border-radius: 0px;
}

#aboutme .aboutme{
    margin: 0 40px;
    
}

#aboutme .aboutme .section-title {
    font-size: 22px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: underline;
    text-decoration-color: rgba(248, 224, 1, 1.0);
    text-decoration-thickness: 5px;
}

#aboutme .aboutme h2{
    color:#000000;
    font-size: 54px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#aboutme .aboutme h3{
    color:#000000;
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#aboutme .aboutme p{
    color:#000000;
    font-size: 24px;
    line-height: 25px;
    margin-bottom: 12px;
}

#aboutme .aboutme a{
    font-size: 20px;
    background: rgba( 255, 255, 255, 0.2 ); 
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: inline-block;
    text-decoration: none;
    color:#000000;
    font-weight: bold;
    border-radius: 30px;
    border: 1px solid  #000000;
    padding: 10px 20px;
    margin-top: 30px;
    transition: .5s;
}

#aboutme .aboutme a:hover{
    background-color: #FFF904;
    border-color: #000000;
}

/* servicios */

#service {
    background: #FFFFFF;
    background: -webkit-radial-gradient(top, #FFFFFF, #FFD101);
    background: -moz-radial-gradient(top, #FFFFFF, #FFD101);
    background: radial-gradient(to bottom, #FFFFFF, #FFD101);
    padding: 100px 15px;
    text-align: center;
    background-color: #fff;
}

#service .section-title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #000000;
    text-decoration: underline;
    text-decoration-color: #FFF904;
    text-decoration-thickness: 5px;
}

#service .file{
    display: flex;
    justify-content: space-between;
    max-width: 1150px;
    margin: 30px auto;
}

#service .file .service{
    max-width: 450px;
    background-color: #F1F4F3;
    padding: 30px;
    margin: 0 5px;
    border-radius: 5px;
    transition: .5s;
}

#service .file .service:hover{
    box-shadow: 5px 5px 10px #FFD101, -5px -5px 10px #FFF904 ;
}

#service .file .service .icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #d3d3d3;
    padding: 20px;
    margin-bottom: 25px;
}

#service .file h4 {
    font-size: 20px;
    margin-bottom: 25px;
}

#service .file .service hr{
    width: 30%;
    margin: auto;
    color:#000000;
    margin-bottom: 25px;
}

#service .file .service-tag{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 10px;
}

#service .file p{
    font-size: 20px;
    line-height: 22px;
}

/* habilidades */

.skills-container {
    background: #000000;
    background-attachment: fixed;
    color: #fff;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}

.skills-container h3{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color:#fff;
    text-decoration: underline;
     text-decoration-color:#FFF904;
     text-decoration-thickness: 5px;
}
.skills-container .skills{
    max-width: 600px;
    margin: 30px auto;
}

.skills-container .skills .info {
    display: flex;
    justify-content: space-between;
}

.skills-container .skills .list{
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: #fff
}

.skills-container .skills .bar{
    background-color: #fff;
    height: 6px;
    margin: 10px 0;
}

.skills-container .skills .bar .barra-progreso1{
    background-color: #FFD101;
    width: 95%;
    height: 6px;
    animation: progreso1 2s forwards;
}
.skills-container .skills .bar .barra-progreso2{
    background-color: #FFD101;
    width: 88%;
    height: 6px;
    animation: progreso2 2s forwards;
}
.skills-container .skills .bar .barra-progreso3{
    background-color: #FFD101;
    width: 80%;
    height: 6px;
    animation: progreso3 2s forwards;
}

@keyframes progreso1 {
    0% {
        width: 0;
    }
    100% {
        width: 95%;
    }
}

@keyframes progreso2 {
    0% {
        width: 0;
    }
    100% {
        width: 88%;
    }
}

@keyframes progreso3 {
    0% {
        width: 0;
    }
    100% {
        width: 80%;
    }
}

/* contactto */
#contact {
    padding: 100px 15px;
    background-color: #F1F4F3;
}

#contact .section-title {
    margin-bottom: 20px;
}

#contact .form-container {
    max-width: 1100px;
    margin: auto;
}

#contact .form-container .file{
    margin-bottom: 15px;
}

#contact .form-container .midle-file {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#contact .form-container input,
#contact .form-container textarea{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #000000
}

#contact .form-container .midle-file input{
    width: 48%;
}

#contact .form-container .full-input {
    width: 100%;
}

#contact .section-title {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color:#000000;
    text-decoration: underline;
     text-decoration-color:#FFF904;
     text-decoration-thickness: 5px;
}

#contact .submit-btn {
    font-size: 15px;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px !important;
}

#contact .submit-btn:hover {
    background-color: #FFF904;
    color: #000000;
}
/* footer */

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
footer p{
    font-family: 'Marvin', sans-serif;
}

footer a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}

/* responsive */

@media (max-width: 800px) {
    .redes {
        display:none;
    }
    nav{
        display: none;
    }
 /*    nav.responsive{
        display: block;
        background-color: #000000;
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    } */
    nav.responsive ul{
        display: block;
        text-align: center;
    }
    #start .content .presentation h2{
        font-size: 40px;
        text-align: center;
}
/* aboutme */
#aboutme{
    padding: 50px 0;
     display: block;
}
#aboutme .photo-container{
    max-width: 400px;
    margin: auto;
}
#aboutme .photo-container img{
    padding: 8px;
}
#aboutme .aboutme .section-title{
    text-align: center;
}
#aboutme .aboutme h2{
    font-size: 25px;
    text-align: center;
}
#aboutme .aboutme h3{
    font-size: 20px;
}
#aboutme .aboutme p{
    font-size: 23px;
}
#aboutme .aboutme a{
    font-size: 15px;
}

/* skills */
.skills-container {
    padding: 50px 20px;
}

/* contacto */

#contact{
    padding: 50px 15px;
}
#contact .form-container .midle-file{
    margin-bottom: 15px;
    display: block;
}
#contact .form-container .midle-file input{
    width: 100%;
    margin-bottom: 15px;
}
}
